frontend/node_modules/
frontend/.env
frontend/package-lock.json

backend/public/
backend/node_modules/
backend/.env
backend/package-lock.json

cms/gestor-de-traducciones-cms/package-lock.json
cms/gestor-de-traducciones-cms/composer.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Stripe
stripe.exe

# CMS
./cms/gestor-de-traducciones-cms/package-lock.json
./cms/gestor-de-traducciones-cms/composer.lock