API_URL = https://hotelaurademallorca.com/api
FRONT_URL = http://hotelaurademallorca.com
CORS_ORIGIN_FRONT_URL = hotelaurademallorca.com
DB_URL ='127.0.0.1'
DB_USER = 'root'
DB_PASSWORD = 'xxxx'
DB_NAME = 'hotelaurademallorca'
DB_PORT = '3306'
DB_TIMEZONE = '+01:00'
STRIPE_PRIVATE_KEY='sk_test_1'
STRIPE_PUBLIC_KEY='sk_test_2'
STRIPE_BASIC_PRICE_ID='price_my_id'
STRIPE_VIP_PRICE_ID='price_my_id'
MAIL_USERNAME='fernando.gonzalez@homerti.com'
MAIL_PASSWORD='jasxbcqMTcQxrBtpsY'
APP_NAME = 'Hotel Aura de Mallorca'