.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

header a {
  text-decoration: none;
}

.logo {
  width: 300px;
  height: 40px;
  cursor: pointer;
}

.user-icon {
  display: flex;
  flex-direction: row;
}

.user-icon-phone {
  display: flex !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-icon-phone:hover {
  color: #FFFFFF !important;
  background-color: #B5B5B5 !important;
}

.logged-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.logged-icon-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.logged-icon span {
  font-size: 0.6rem;
}

#goToRegisterA {
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4%;
}

nav a {
  margin-right: 48px;
  color: #000000;
}

#nav-menu {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

#nav-menu a {
  display: block;
  padding: 16px;
  color: #000000;
  text-decoration: none;
}

#nav-menu a:hover {
  background-color: #f0f0f0;
}

#nav-actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#nav-actions button {
  margin-right: 12px;
}

#nav-actions img {
  margin-right: 12px;
  cursor: pointer;
}

#nav .is-active,
#nav-menu .is-active {
  color: #2A33EF;
  font-weight: bold;
}

#nav .is-active-light,
#nav-menu .is-active-light {
  color: #8F94F5;
  font-weight: bold;
}

#nav-menu a:hover {
  color: rgb(224, 228, 0);
  background-color: #383838;
  font-weight: bold;
  transition: 0.6s;
}

#nav-menu {
  margin-top: 4px;
  border-radius: 12px;
}

#user-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.menu-toggle {
  display: none;
}

.menu-toggle:hover {
  border-radius: 12px;
  transition: 0.4s;
}

.main {
  min-height: 100vh;
  color: #ffffff;
  z-index: 1;
  margin-top: 3.7%;
}

#bookBtn:hover {
  background-color: #005757;
  transition: 0.5s;
}

#bookBtnNoInHeader {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 30px;
  font-weight: bold;
  font-size: 1.2em;
}

#bookBtnNoInHeader:hover {
  background-color: #005757;
  transition: 0.5s;
}

.footer {
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 25px 0;
  z-index: 1;
}

.footer .footer-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15%;
}

.footer .footer-sides div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 500px;
  overflow: hidden;
}

.footer .footer-sides div p {
  align-items: center;
  text-wrap: balance;
  word-break: break-word;
}

.footer-right a {
  color: #0148B2;
  /* contrast accessibility */
}

.card {
  padding: 2em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  word-break: break-all;
}

hr {
  height: 4px;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Booking modal */

.cards-plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

.card-text {
  word-break: break-word;
}

/* Pages */

.servicesPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.servicesPageBg {
  background-image: url('./assets/images/services.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
}

.servicesPageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.servicesPageTitle {
  width: fit-content;
}

.contactPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
  padding-left: 16%;
  padding-right: 16%;
}

.contactForm {
  display: block;
  margin-top: 6%;
}

.contactForm .input {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #ffffff;
  }

  header {
    background-color: #000000;
    color: #ffffff;
  }

  nav a {
    color: #ffffff;
  }

  main {
    color: #000000;
  }

  footer {
    color: #000000;
  }
}

@media screen and (max-width: 3840px) {
  .main {
    margin-top: 3%;
  }
}

@media screen and (max-width: 1920px) {
  .main {
    margin-top: 3.7%;
  }
}

@media screen and (max-width: 1780px) {
  .main {
    margin-top: 4.1%;
  }
}

@media screen and (max-width: 1680px) {
  .main {
    margin-top: 4.4%;
  }
}

@media screen and (max-width: 1520px) {
  .main {
    margin-top: 4.8%;
  }
}

@media screen and (max-width: 1380px) {
  .main {
    margin-top: 5.2%;
  }
}

@media screen and (max-width: 1240px) {
  .main {
    margin-top: 5.6%;
  }
}

@media screen and (max-width: 1100px) {
  .main {
    margin-top: 6.6%;
  }
}

@media screen and (max-width: 960px) {
  .main {
    margin-top: 7.4%;
  }
}

@media screen and (max-width: 820px) {
  .main {
    margin-top: 8.6%;
  }
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  #nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  #nav-menu {
    display: block;
    /* Agrega estilos para el menú desplegable aquí */
  }

  .menu-toggle:hover #nav-menu {
    display: block;
  }

  #bookBtnNoInHeader {
    display: block;
  }

  .main {
    margin-top: 10%;
  }

  .cards-plan {
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  .main {
    margin-top: 12%;
  }
}

@media screen and (max-width: 560px) {
  .main {
    margin-top: 14%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin-top: 15%;
  }
}

@media screen and (max-width: 440px) {
  .main {
    margin-top: 19%;
  }
}

@media screen and (max-width: 380px) {
  .main {
    margin-top: 21%;
  }
}

@media screen and (max-width: 300px) {
  .main {
    margin-top: 26%;
  }
}