.userEditDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.userEditBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.userEditBtn button {
    margin-bottom: 8px;
    width: 100%;
    margin-right: 12px;
}